---
interface Props {
  name: string;
  url?: string;
  openInNewTab?: boolean;
}

const { name, url, openInNewTab } = Astro.props;
const isLink = name && url;

const defaultClasses =
  "inline-flex gap-x-2  \
  rounded-lg text-neutral-600 ring-zinc-500 \
  outline-hidden transition duration-300 \
  focus-visible:ring-3 \
  dark:text-neutral-400 dark:ring-zinc-200 \
  dark:hover:text-neutral-300 dark:focus:outline-hidden";
---

<li>
  {
    isLink ? (
      <a
        href={url}
        target={openInNewTab ? "_blank" : "_self"}
        class={defaultClasses + "hover:text-neutral-500"}
      >
        {name}
      </a>
    ) : (
      <p class={defaultClasses}>{name}</p>
    )
  }
</li>
